In [34]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()
spark

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum

In [36]:
rural = spark.read.option("header", "true").option("inferSchema", "true").csv("C:\\Users\\ridwived\\Downloads\\FINAL_POPULATION_RURAL.csv").alias("r")

In [37]:
urban = spark.read.option("header", "true").option("inferSchema", "true").csv("C:\\Users\\ridwived\\Downloads\\FINAL_POPULATION_URBAN.csv").alias("u")

In [38]:
df = rural.join(urban, rural["COUNTRY ID"] == urban["COUNTRY ID"]).drop(urban["COUNTRY"]).drop(urban["COUNTRY ID"]).drop(urban["CONTINENT"]).drop(urban["DEVELOPMENT_CATEGORY"]).drop(urban["GOVERNANCE"])

In [39]:

# Total Population of a Particular Country in a Particular Year

country = "India"
year = "2000"
year_col = f"D_{year}"

In [40]:
rural_pop = rural.filter(col("COUNTRY") == country).select(col(year_col).cast("long")).first()[0]

In [41]:

urban_pop = urban.filter(col("COUNTRY") == country).select(col(year_col).cast("long")).first()[0]

In [42]:

total_population = rural_pop + urban_pop
result = spark.createDataFrame([(country, year, total_population)],["Country", "Year", "Total_Population"])

In [44]:
result.show()

+-------+----+----------------+
|Country|Year|Total_Population|
+-------+----+----------------+
|  India|2000|         1053898|
+-------+----+----------------+

In [28]:

# Total Population of a Particular Continent in a Particular Year

continent = "Asia"
year2 = "2000"
year_col2 = f"D_{year2}"

In [29]:

rural_filtered = rural.filter(col("CONTINENT") == continent).select(col(year_col2).cast("long").alias("rural_pop"))

In [30]:

urban_filtered = urban.filter(col("CONTINENT") == continent).select(col(year_col2).cast("long").alias("urban_pop"))

In [31]:

total_rural = rural_filtered.agg(sum("rural_pop")).first()[0]
total_urban = urban_filtered.agg(sum("urban_pop")).first()[0]
total_population2 = total_rural + total_urban

In [32]:

result2 = spark.createDataFrame([(continent, year2, total_population2)],["Continent", "Year", "Total_Population"])

In [45]:
result2.show()

+---------+----+----------------+
|Continent|Year|Total_Population|
+---------+----+----------------+
|     Asia|2000|         3719049|
+---------+----+----------------+